header .navigation {
  margin: 0;
  padding: 5px 15px 0px 10px;
}

nav ul {
  margin: 0;
  display: inline;
}

nav a {
	color: #F0FFFF;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 5px 10px;
  border: 1px;
  background: 111;
}